<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Core.Properties.Settings.QUIKConnectionString" connectionString="Data Source=localhost;Initial Catalog=QUIK;Persist Security Info=True;User ID=Misha2Kota;Password=2KotaSignature"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.QUIKConnectionString1" connectionString="Data Source=localhost;Initial Catalog=QUIK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Core.Properties.Settings.SlyBotConnectionString" connectionString="Data Source=localhost;Initial Catalog=SlyBot;Persist Security Info=True;User ID=Misha2Kota;Password=2KotaSignature"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>